@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

a {
    display: inline;
    text-decoration: none;
}

h1 {
    display: block;
}

.purple {
    color: #6415ff;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

section {
    padding: 0 32px;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba( 80, 17, 204);
}

.section__para {
    font-size: 18px;
    font-size: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

 .section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
 }

 .section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb( 36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
 }

.section__para {
    align-items: center;
    text-align: center;
    max-width: 576px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625
}

/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

/*  MY ADDITIONS */

.nav__logo--img {
    width: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 2px;
    margin-left: 12px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    margin: 0 24px;
    letter-spacing: 0.35px;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: all 300ms;
}

.nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms ease;
    opacity: 0;
}

.nav__link:hover::after {
    opacity: 1;
}

.nav__link--primary:hover::after {
    opacity: 0;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    line-height: 1.5;
    border: 0;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    transition: all 300ms ease;
}

.nav__link--primary:hover{
    background-color: rgba( 60, 13, 153);
}

/* MY ADDITIONS */

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

.feature__img {
    width: 24px;
    height: 24px;
   
}
/* 

HEADER / ABOUT US ↓

*/


header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MY ADDITION */

#landing{
    display: block;
}

.header__description {
    width: 40%;
}

.header__title {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.header__description--para {
    display: block;
    line-height: 1.5;
    font-size: 18px;
    margin: 32px 0;
}

.header__img--wrapper {
    width: calc(100% - 40%);
}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border: 2px solid rgb( 229, 231, 235);
    border-radius: 500px;
    padding: 20px 192px 20px 32px;
    color: rgb( 36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms ;
}

.header__email--input:hover {
    border-color: rgba( 160, 174, 192);
}
 
.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    width: 160px;
    border: none;
    border-radius: 500px;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__email--btn:hover{
    background-color: rgba( 60, 13, 153);
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;
}

.header__customers{
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
    max-width: 512px;
}

/* MY ADDITION */

/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row__narrow{
    max-width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* MY ADDITION */

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb( 124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

/* MY ADDITION */

/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MY ADDITION */
#quality,
.btn {
    margin-top: 32px;
}

#quality.section__title{
  line-height: 1.25;
}
.quality__description,
.quality__img--wrapper {
    width: 50%;
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid lightgrey;
    margin: 0 56px;
    z-index: 2;
    display: flex;
      position: relative;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb( 100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba( 100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}

.quality__img {
    z-index: 1;
}

/* MY ADDITION */

/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MY ADDITION */

.steps__img--wrapper,
.steps__description {
    width: 50%;
}

.steps__img {
    z-index: 2;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__grid {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 10rem;
    opacity: 0.8;
    z-index: 0;
    color: rgb( 100, 21, 255);
    fill: currentColor;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    max-width: 36;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/* MY ADDITION */

/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MY ADDITION */
#values .section__title {
    line-height: 1.25;
    margin-top: 16px;
    margin-bottom: 32px;
}

#values .btn {
    margin-top: 48px;
}

.values__description,
.values__img {
    width: 50%;
}

.values__description {
    padding: 32px 64px 32px 0;
}

.values__list{
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    max-width: none;
    flex-direction: row;
}

.values__title {
    display: flex;
    align-items: center;
}

.value {
    margin-top: 2rem;
    margin-right: 2rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.value:nth-child(1) {
   margin-top: 32px;
   margin-right: 32px;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.value__img {
    width: 20px;
    height: 20px;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

/* MY ADDITION */

/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MY ADDITION */

.plans {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, 
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan__top  {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
}

.plan:nth-child(1) .plan__middle,
.plan:nth-child(3) .plan__middle {
    border-top: 2px solid rgb( 229, 231, 235);
    border-bottom: 2px solid rgb( 229, 231, 235);
}

.plan:nth-child(odd) .plan__name,
.plan:nth-child(odd) .plan__price,
.plan:nth-child(odd) .plan__target {
    color: #1a202c;
}

.plan__name,
.plan__price,
.plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__name {
    font-size: 20px;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan:nth-child(odd) .plan__duration{
    color: #a0aec0;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}


.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__bottom {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.plan__button {
    border-radius: 0.25rem;
    background-color: rgb(100 21 255);
    padding: 0.75rem 2rem;
    font-weight: 700;
    color: rgb(247 250 252);
    transition: all 300ms ease;
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan:nth-child(1) .plan__stripe, 
.plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(2) .plan__button {
    color: #6415ff;
    background-color: #f7fafc;
}

.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, 
.plan:nth-child(2) .plan__target, .plan:nth-child(2) .plan__duration, 
.plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* MY ADDITION */

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}